.post-btn{
    border: none;
    color: white;
    width: calc((909px - 6px)/4);
    height: 45px;   
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: normal;
}
.post-btn:hover{
    opacity: 0.75;
}